 html {
  font-size: 20px;
 }

 body {
  font-family: Arial, Meiryo, sans-serif;
  text-align: center;
}
 h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px gray;
  border-bottom:solid rgb(115,115,114);
  letter-spacing: 1.2rem;
}
.google-font {
  font-family: "Josefin Sans";

}

.text-skyblue {
  color: skyblue;
}

.text-pink {
  color: rgb(255,192,203)
}

#basic p {
  font-weight: bold;
}